.className {
  position: relative;

  > h1 {
    position: absolute;
    font-size: 3rem;
    margin: 0;
    top: -1.25rem;
    right: 0;
    color: #666;
    user-select: none;
    z-index: 0;
  }

  @media (prefers-color-scheme: dark) {
    > h1 {
      color: #999;
    }
  }

  #menu {
    position: relative;
    display: inline-block;
    margin-top: 1em;
    font-family: monospace;
    z-index: 100;
    white-space: pre;

    &:before {
      content: 'data Site = Site\A { posts      :: [Markdown]\A , playground :: [ReactElement]\A , mastodon   :: Link\A }\Asite = Site '
    }

    > ul {
      display: inline;
      list-style: none;
      padding: 0;
      margin: 0;

      > li {
        display: inline-block;
        margin-right: 1ch;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  #container {
    position: relative;
    z-index: 200;
  }

  @media (prefers-color-scheme: dark) {
    > h1 {
      color: #999;
    }
  }
}

