extends ./layout/markdown.jade

block vars
  - var title = 'portfolio'
  - var scripts = ['./js/portfolio.js']

block content
  :markdown
    這是我的簡歷。更簡要的說明與SNS連結請點[這裡](../)。

    # 教育

    我讀過：

    * 成功大學資訊工程系（中輟）
    * 臺中教育大學數位內容科技學系

    我喜歡：

    * 學習新知
    * 做能夠看到視覺回饋的東西

    但是缺乏：

    * 扎實的數學教育
    * 扎實的資訊工程教育
    * 做研究的能力

    # 語言

    我會說：

    * 中文（母語）
    * 英文

    會看這些頻道來加強聽力：

    * [NewCircle Training](https://www.youtube.com/channel/UCkQX1tChV7Z7l1LFF4L9j_g)
    * [CGP Grey](https://www.youtube.com/channel/UC2C_jShtL725hvbm1arSV9w)
    * [TotalBiscuit, The Cynical Brit](https://www.youtube.com/channel/UCy1Ms_5qBTawC-k7PVjHXKQ)
    * [The Game Station](https://www.youtube.com/channel/UCCBuCjSIg4gFFUSoqlLQViQ)
    * [Wolfire Games](https://www.youtube.com/channel/UCGFhIp3VXy90--3PfAqtSaA)
    * [NodeUp](http://nodeup.com/)

    但是缺乏這些能力：

    * 廣東話
    * 閩南語
    * 英文字彙
    * 英文寫作

    # 生涯規劃

    <span id="age"></span>歲，短時間內還沒有成家的打算。接下來五到十年打算投入在軟體開發上，希望成為獨立自主的開發者。

    ## 我景仰...

    * Jedi
    * lunadance
    * jserv
    * godfat
    * g0v的發起者與參與者們

    ## 參加過...

    * [MIT Game Jam](http://igd-share-fcd2e3.kktix.cc/events/mitjam120428)
    * [Indie Game: The Movie台灣放映會](http://igd-share-fcd2e3.kktix.cc/events/igtm-tw-120624)
    * [資策會遊戲創作營（Fukushima Game Jam台北會場）](http://igdshare.kktix.cc/events/fgj2012-taipei)
    * [OSDC.TW 2013](http://osdc.kktix.cc/events/81757f)
    * [OSDC.TW 2014](http://osdc.kktix.cc/events/osdctw2014)
    * [Yahoo! Hack Taiwan 2013](https://hacks.developer.yahoo.com/hack/yahoo-hack-taiwan/hanzi-fusion-reactor-/event_17/hack_979)  
      一直卡關，給隊友添了不少麻煩。
    * g0v
      * [hackath1n台中場](http://g0v-tw.kktix.cc/events/g0v-hackath1n-taichung)
      * [hackath3n](http://g0v-tw.kktix.cc/events/g0v-hackath3n-taipei)
      * [hackath4n](http://g0v-tw.kktix.cc/events/g0v-hackath4n-taipei)
      * [台南小吃松](http://g0v-tw.kktix.cc/events/g0v-tainan)
      * [hackath6n](http://g0v-tw.kktix.cc/events/g0v-hackath6n)
      * [2014新年松](http://g0v-tw.kktix.cc/events/g0v-newyear2014)
      * [hackath7n](http://g0v-tw.kktix.cc/events/g0v-hackath7n)
      * [第三次萌典松 moed3ct](http://g0v-tw.kktix.cc/events/moedict-3-29)

    ## 辦過...

    * [Global Game Jam 2014 台中場](http://caasi-0ad330.kktix.cc/events/ggj2014-taichung)

    希望未來更積極參與社群活動。不然一個人走在路上，「這黑夜就顯得太長」。

    ## 技能

    ### C

    在成大接觸到C語言，雖然嘗試寫過UVa Online Judge，但最後止步於七十五題左右。除了作業外沒有用C寫過大程式。

    ### C++

    在成大接觸到C++，但一開始並不瞭解OOP的涵義，接觸ActionScript後才有體會。之後曾以Qt寫過小程式，並在使用Oculus Rift SDK時重回C++的懷抱，未參與過大專案。

    ### PHP

    高中時玩過一些PHP論壇，曾以SHR之名架設[軍武狂人夢討論區](http://web.archive.org/web/20041120035550/http://mdc.idv.tw/phpbb2/)，但後來不瞭解PHP與SQL的安全問題，被defacer[入侵過](http://web.archive.org/web/20041127140019/http://mdc.idv.tw/)。

    在成大時從Perl轉換到PHP寫網路程式。日前工作時認識到PHP4的reflection能力不佳，當時受限於開發環境無法使用PHP 5，之後沒有再碰過PHP。

    ### Java

    在台中教育大學時選修資訊系的課，曾經寫過[Ching-Chaung](https://github.com/caasi/chingchuang)這個射擊小遊戲。該遊戲的特點是可以錄製下玩家遊玩的過程，且在開發的過程中瞭解到Java在2D繪圖上要是牽扯到transformation會非常慢，只好以取巧的方式繞過。

    ### ActionScript

    本來就因課程關係，接觸過ActionScript 2.0。曾於一數位教材公司打工，被迫接觸到以ActionScript 1.0寫的老程式，同時自己又在自學ActionScript 3.0，並試著幫該公司轉換到ActionScript 2.0未果。

    配著[ActionScript 3设计模式](http://www.amazon.cn/ActionScript-3%E8%AE%BE%E8%AE%A1%E6%A8%A1%E5%BC%8F-%E6%B4%9B%E7%89%B9/dp/B0016ASSFM)的範例，ActionScript讓我對OOP還有interface有著新的認識。

    ### JavaScript

    當兵時，礙於軍中沒有開發環境，學習JavaScript，以爆笑國家。接觸到[JavaScript：優良部分](http://www.oreilly.com.tw/product2_web.php?id=a238)才瞭解到它的精華，剛好node.js崛起，從此以JavaScript為工作用的主要語言。嘗試[讀取Fallout的動畫檔](https://github.com/caasi/frm.js)時使用過typed array，製作[筆劃動畫](https://github.com/caasi/zh-stroke-data)時不斷接觸canvas。

    ### 缺乏...

    * 處理金流的經驗。

    ## 展望

    正在學習：

    * [Pixi.js](http://www.pixijs.com/)
    * [oogl.js](http://oogljs.com/)
    * [Oculus Rift SDK](https://developer.oculusvr.com/)
    * [Leap Motion SDK](https://developer.leapmotion.com/)

    同時希望未來可以利用閒暇時間讀讀資工教育中的經典，並以JavaScript在Web環境實作。

    每年要是時間云許，希望能在淡季到加州看爺爺奶奶。年初，農曆年前，希望可以回台中辦Game Jam。

