!!! 5
html
  head
    title After I Gived Up
    style.
      body canvas {
        position: absolute;
        margin: auto;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
      }
  body
    script(src="../lib/pixi.js")
    script(src="./js/main.js")
