.className {
  padding: 1.25em 2.5em 3.75em 2.5em;
  max-width: 720px;
  left: 0;
  right: 0;
  margin: 0 auto;

  :global(.info) {
  }

  p, pre, ul, ol, figure {
    line-height: 1.5rem;
  }

  &:global(.markdown) pre {
    padding: 0 2ch;
    white-space: pre-wrap;
  }

  &:global(.markdown) code {
    color: #666;
    user-select: none;
    line-height: 1em;
  }

  blockquote {
    border-left: .15em solid #666;
    padding-left: 1em;
    margin-left: 1.2em;
    color: #666;
  }

  figure {
    width: min-content;
    margin: auto;
  }

  figure > figcaption {
    margin-top: 0.5em;
    font-size: 0.875rem;
  }
}
