doctype html
html.han-la(lang="zh-tw")
  block vars
  head
    title #{title || '?'} | caasigd.org
    meta(content="text/html;charset=utf-8" http-equiv="Content-Type")
    link(rel="stylesheet" media="all" href="./lib/han/han.css")
    link(rel="stylesheet" media="all" href="./css/markdown.css")
    script(src="./lib/jquery-2.0.3.min.js")
    script(src="./lib/han/han.js")
  body
    #wrap
      article#zh-tw
        block content
    if scripts
      for script in scripts
        script(src="#{script}")
