doctype 5
html(lang="en")
  head
    meta(content="text/html;charset=utf-8" http-equiv="Content-Type")
    title Before Ludum Dare 28
  body
    script(src="../lib/Stats.js")
    script(src="../lib/pixi.dev.js")
    script(src="./js/main.js")
