.className {
  padding: 20px 40px 60px 40px;

  .info {
    color: #666;
  }

  p, pre {
    line-height: 1.5rem;
  }

  pre {
    padding: 16px 32px;
    white-space: pre-wrap;
  }

  code {
    color: #999;
    user-select: none;
  }

  blockquote {
    border-left: 2px solid #999;
    padding-left: 18px;
    margin-left: 20px;
    color: #999;
  }

  blockquote + p {
    margin-left: 40px;
    color: #999;
  }
}

