.className {
  box-sizing: border-box;
  background-color: #2ecc71;
  color: #fff;
  cursor: pointer;
  font-size: 0.8rem;
  padding: 0.2em 0.4em;
  position: absolute;
  user-select: none;

  &:global(.selected) {
    background-color: #e74c3c;
  }
}
