.className {
  .demo {
    color-scheme: light;
    background: #fcfcfc;
    padding: 0.5em;
    margin: 1em 0;
    color: #333;

    *:first-child {
      margin-top: 0 !important;
    }

    *:last-child {
      margin-bottom: 0 !important;
    }

    div {
      line-height: 0;
    }

    .colorRect {
      display: inline-block;
      width: 2rem;
      height: 2rem;
    }

    .currentRect {
      margin-bottom: 1em;
      cursor: pointer;
    }

    .previousRects {
      margin-bottom: 1em;
    }
  }
}
