.className {
  .posts {
    line-height: 1.5rem;
    font-family: monospace;
    color: #666;

    > ul {
      list-style: none;
      padding: 0;
      margin: 0;

      > li:before {
        content: '  , "';
        white-space: pre;
      }

      > li:first-child:before {
        content: '  [ "';
      }

      li:after {
        content: '"';
        white-space: pre;
      }
    }

    &:after {
      content: '  ]';
      white-space: pre;
    }
  }
}

