body {
  font-size: 12pt;
}

hr {
  border-top: .15em solid transparent;
  border-image: 100% 0 0 linear-gradient(90deg, currentColor 2em, transparent 0);
}

a {
  color: #000;
}

a:hover {
  color: #666;
}

a:visited {
  color: #999;
}

a:active {
  color: #999;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #252525;
    color: #fff;
  }

  a {
    color: #fff;
  }

  a:hover {
    color: #999;
  }

  a:visited {
    color: #666;
  }

  a:active {
    color: #666;
  }
}
