doctype 5
html.han-la(lang="zh-tw")
  head
    title= "caasigd.org | another wasteland"
    link(rel="stylesheet" media="all" href="./lib/han/han.css")
    link(rel="stylesheet" media="all" href="./css/main.css")
    script(src="./lib/jquery-2.0.3.min.js")
    script(src="./lib/han/han.js")
  body
    #wrap
      #en
        h1 caasi
        p.
          A naive web developer focused on prototyping
          in JavaScript, learning structure and
          interpretation of computer programs, modern
          3D graphics programming for the future of
          web.
        ul
          li.location Taichung, Taiwan
          li.current nobody@g0v.tw
      article#zh-tw
        h1 黃冠霖
        p 畢業於台不上不下教育大學數位內容科技學系，寫網頁維生。對JavaScript又愛又恨，曾經成功地從國民小學、國民中學、公立高中畢業。曾有機會取得「我也沒拿到大學學位」成就，但後來想不開。
        ul
          li.location 台中市
          li.current 前端工程師，十方一瞬設計工作室
      #twitter
      #gplus
      #facebook
      #linkedin
      #github
      #blogs
