doctype html
html(lang="zh-Hant-TW")
  head
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1, minimum-scale=1")
    title= htmlWebpackPlugin.options.title
    link(rel="stylesheet", media="all", href="//cdnjs.cloudflare.com/ajax/libs/Han/3.2.7/han.min.css")
    script(async src='https://www.googletagmanager.com/gtag/js?id=G-JWEYL7WZ24')
    script.
      window.dataLayer=window.dataLayer||[];function gtag(){dataLayer.push(arguments);};gtag('js',new Date());gtag('config','G-JWEYL7WZ24');
  body
    #app
    | !{htmlWebpackPlugin.files.webpackManifest}
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-NB9HSNV', height='0', width='0' style='display:none;visibility:hidden')
