doctype html
html.han-la(lang="zh-tw")
  head
    title= "portfilio | caasigd.org"
    meta(content="text/html;charset=utf-8" http-equiv="Content-Type")
    link(rel="stylesheet" media="all" href="./lib/han/han.css")
    link(rel="stylesheet" media="all" href="./css/portfolio.css")
    script(src="./lib/jquery-2.0.3.min.js")
    script(src="./lib/han/han.js")
    script(src="./lib/pixi.js")
    script(src="./lib/showdown/showdown.js")
    script(src="./lib/showdown/extensions/github.js")
  body
    #wrap
      article#zh-tw
    script(src="./js/portfolio.js")
